@model IEnumerable<Models.ClaimViewModels.ClaimViewModel>
@{
    dynamic role = ViewData["Role"];
    ViewData[Constant.Title] = role.Name + " Claims";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewData[Constant.Title]
        </h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                <tr>
                    <th>
                        <display name-for="@Model.First().Controller"></display>
                    </th>
                    <th>
                        <display name-for="@Model.First().Action"></display>
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Controller</td>
                        <td>@item.Action</td>
                        <td>
                            <input class="toggle" @(item.IsEnabled ? "checked" : "") type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" data-onstyle="success" data-offstyle="danger">
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.toggle').change(function() {
            if ($(this).prop('checked') === true) {
                updateClaim("Enable", $(this));
            } else {
                updateClaim("Disable", $(this));
            }
        });

        function updateClaim(operation, toggle) {
            var td = toggle.closest("tr").find("td");
            var controllerName = td.first().text();
            var action = td.first().next().text();
            $.ajax({
                method: "POST",
                url: "@Url.Action("Index", "Claim")",
                data: {
                    roleId: "@role.Id",
                    controllerName: controllerName,
                    actionName: action,
                    operation: operation
                },
                success: function(response) {
                    if (response.status === "Ok") {

                    } else {
                        toggle.bootstrapToggle('toggle');
                        console.log(response);
                    }
                },
                error: function(response) {
                    toggle.bootstrapToggle('toggle');
                    console.log(response);
                }
            });
        }
    </script>
}