@using Models.ModalViewModels
@model IEnumerable<Customer>
@{
    ViewData[Constant.Title] = "Customer List";
}

@await Html.PartialAsync("Modal/_ModalPartial", new Modal {Id = "customer-action-modal", ModalSize = ModalSize.Medium})

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewData[Constant.Title]
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        <th>
                            <div class="btn-group">
                                <a asp-action="Add" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#customer-action-modal">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </th>
                        <th>
                            <display name-for="@Model.First().Name"></display>
                        </th>
                        <th>
                            <display name-for="@Model.First().Email"></display>
                        </th>
                        <th>
                            <display name-for="@Model.First().PhoneNumber"></display>
                        </th>
                        <th>
                            <display name-for="@Model.First().Address"></display>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Add" asp-controller="VideoAds" asp-route-customerId="@item.Id" data-toggle="modal" data-target="#customer-action-modal" class="btn btn-success btn-sm">
                                    <i class="fa fa-plus"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm" data-toggle="modal" data-target="#customer-action-modal">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer-action-modal">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Address</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/assets/admin/js/modal-remote-setup.js"></script>
}