@model BannerAds

<div title="@Model.Title" id="@Model.Id">
    <a href="@Model.Url">
        <img src="@Model.Source" alt="@Model.Name" class="img-responsive center-block" style="height: @Model.Height; width: @Model.Width"/>
    </a>
</div>