@model IEnumerable<BannerAds>

@foreach (var item in Model)
{
    <div id="@item.Id" style="margin-bottom: 10px">
        <div title="@item.Title">
            <a href="@item.Url" target="_blank">
                <img src="@item.Source" alt="@item.Name" class="img-responsive center-block" style="height: @item.Height; width: @item.Width"/>
            </a>
        </div>
    </div>
}