@using Microsoft.Extensions.Options
@using Repositories
@inject IOptionsSnapshot<AppSettings> AppSettings
@inject IMovieRepository MovieRepository
@{
    ViewData[Constant.Title] = "Slide Settings";
    var slideMovies = MovieRepository.FindSlide(AppSettings.Value.Slide.Split(',')).ToList();
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewData[Constant.Title]
        </h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            @await Html.PartialAsync("_SlidePartial")
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in MovieRepository.GetAll())
                {
                    <tr>
                        <td>
                            @if (slideMovies.Contains(item))
                            {
                                <form asp-action="DeleteSlide" asp-route-movieId="@item.Id">
                                    <button class="btn btn-danger btn-sm @(User.HasClaim("Setting", "DeleteSlide") ? "" : "disabled")" type="submit">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <div style="display: none">plus</div>
                                <form asp-action="AddSlide" asp-route-movieId="@item.Id">
                                    <button class="btn btn-primary btn-sm @(User.HasClaim("Setting", "AddSlide") ? "" : "disabled")" type="submit">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </form>
                            }
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-controller="Movie" asp-route-id="@item.Id">
                                @item.Name
                                <img src="@item.Slide" alt="@item.Name" class="img-responsive" asp-append-version="true" style="max-height: 200px"/>
                            </a>
                        </td>
                        <td style="font-size: 11px">@item.Description</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>