@inject IBannerAdsRepository BannerAdsRepository
@using Models.ModalViewModels
@using Repositories
@model IEnumerable<BannerAdsLocation>
@{
    ViewData[Constant.Title] = "Banner Location List";
}

@await Html.PartialAsync("Modal/_ModalPartial", new Modal {Id = "advertisement-action-modal", ModalSize = ModalSize.Medium})

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            @ViewData[Constant.Title]
        </h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        <th>
                            <display name-for="@Model.First().Id"></display>
                        </th>
                        <th>
                            <display name-for="@Model.First().Name"></display>
                        </th>
                        <th>
                            <display name-for="@Model.First().Desciption"></display>
                        </th>
                        <th>
                            <display name-for="@Model.First().Price"></display>
                        </th>
                        <th>
                            <label class="label label-success" style="font-size: 12px">
                                Active
                            </label>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Desciption</td>
                            <td>@item.Price</td>
                            <td>@BannerAdsRepository.GetActiveBanners(item.Name).Count()</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/assets/admin/js/modal-remote-setup.js" asp-append-version="true"></script>
}