@inject IVideoAdsLocationRepository VideoAdsLocationRepository
@using Models.ModalViewModels
@using Repositories
@model VideoAds

@{
    var modalHeading = "Add Video Advertisement";
    var submitButtonText = "Add";
    var submitButtonClass = "btn-primary";
    if (ViewData["Action"].ToString() == "Edit")
    {
        modalHeading = "Edit Video Advertisement";
        submitButtonText = "Edit";
        submitButtonClass = "btn-info";
    }
}

<form asp-action="@ViewData["Action"]" asp-route-customerId="@ViewData["CustomerId"]" method="post" class="modal-form">
    @await Html.PartialAsync("Modal/_HeaderPartial", new ModalHeader {Heading = modalHeading})
    <div class="modal-body form-horizontal">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 text-center"></div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="Title" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Title" class="form-control"/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="Description" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="Url" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Url" class="form-control"/>
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="Source" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="Source" class="form-control"/>
                        <span asp-validation-for="Source" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Location</label>
                    <div class="col-sm-9">
                        <select asp-for="VideoAdsLocationId" asp-items="@(new SelectList(VideoAdsLocationRepository.GetAll(), "Id", "Name"))" class="selectpicker show-tick form-control" id="ads-location"></select>
                        <span asp-validation-for="VideoAdsLocationId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="StartDate" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <div class="input-group" id="start">
                            <input asp-for="StartDate" value="@Model.StartDate.Format()" class="form-control"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                    <label asp-for="EndDate" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <div class="input-group" id="end">
                            <input asp-for="EndDate" value="@Model.EndDate.Format()" class="form-control"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Modal/_FooterPartial", new ModalFooter {SubmitButtonText = submitButtonText, SubmitButtonClass = submitButtonClass})
</form>

<script>
    $(".selectpicker").selectpicker();

    $('#start').datetimepicker({
        locale: 'en',
        format: 'MM/DD/YYYY'
    });
    $('#end').datetimepicker({
        useCurrent: false,
        locale: 'en',
        format: 'MM/DD/YYYY'
    });
    $("#start").on("dp.change",
        function(e) {
            $('#end').data("DateTimePicker").minDate(e.date);
        });
    $("#start").trigger("dp.change");
    $("#end").on("dp.change",
        function(e) {
            $('#start').data("DateTimePicker").maxDate(e.date);
        });
</script>
<script src="~/assets/admin/js/modal-form.js" asp-append-version="true"></script>