@model Movie
@inject IBannerAdsRepository BannerAdsRepository
@{
    ViewData[Constant.Title] = "Details";
}

@section Slide {
    <a asp-action="Watch" asp-controller="Movie" asp-route-id="@Model.Id">
        <img src="@Model.Slide" alt="@Model.Name" class="img-responsive center-block" asp-append-version="true">
    </a>
}

@section TopAds {
    @await Html.PartialAsync("_BannerPartial", BannerAdsRepository.GetActiveBanners("Top", LocationType.Child).PickRandom())
}

@section RightAds {
    @await Html.PartialAsync("_BannerPartial", BannerAdsRepository.GetActiveBanners("Right 1", LocationType.Child).PickRandom())
    @await Html.PartialAsync("_BannerPartial", BannerAdsRepository.GetActiveBanners("Right 2", LocationType.Child).PickRandom())
}

@section BottomAds {
    @await Html.PartialAsync("_BannerPartial", BannerAdsRepository.GetActiveBanners("Bottom", LocationType.Child).PickRandom())
}

@section Balloon {
    @await Html.PartialAsync("_RightBalloonPartial", BannerAdsRepository.GetActiveBanners("Right Balloon", LocationType.Child).PickRandom())
}

<ol class="breadcrumb">
    <li>
        <a href="/">Home</a>
    </li>
    <li class="active">
        @Model.Name
    </li>
</ol>
<div class="panel panel-info" id="panel-movie-detail">
    <div class="panel-heading">
        @Model.Name
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-9">
                <div class="col-sm-12">
                    Genres:
                    @{
                        var i = 0;
                    }
                    @foreach (var genreMovies in Model.GenreMovies)
                    {
                        @(i++ > 0 ? ", " : "")
                        <a asp-action="Index" asp-controller="Movie" asp-route-id="@genreMovies.GenreId" title="@genreMovies.Genre.Title">
                            @genreMovies.Genre.Name
                        </a>
                    }
                </div>
                <div class="col-sm-12">
                    <display name-for="Fansub"/>:
                    @Model.Fansub
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            Episodes:
                            @Model.Episodes.Count / @(Model.Status == MovieStatus.Ongoing ? "??" : Model.Episodes.Count.ToString())
                        </div>
                        <div class="col-sm-4">
                            <display name-for="View"/>:
                            @Model.View
                        </div>
                        <div class="col-sm-4">
                            <display name-for="Release"/>:
                            @Model.Release.Month/@Model.Release.Year
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <display name-for="Description"/>:
                    <p style="font-size: 10px">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Description
                    </p>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-center">
                            <a asp-action="Watch" asp-controller="Movie" asp-route-id="@Model.Id" class="btn btn-primary">
                                <i class="fa fa-video-camera"></i>
                                Watch
                            </a>
                            <form asp-action="Like" asp-controller="Movie" asp-route-id="@Model.Id" style="display: inline">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-heart"></i>
                                    Like
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <img class="img-rounded img-responsive center-block" src="@Model.Image" alt="@Model.Name" asp-append-version="true"/>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>

<div class="fb-comments" data-href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" data-numposts="10" data-width="100%" data-mobile="true" data-colorscheme="dark"></div>