@inject IGenreService GenreService
@{
    ViewData[Constant.Title] = "Index";
}

@section slide {
    @await Html.PartialAsync("_SlidePartial")
}
<div ng-app="app" ng-controller="movie-controller">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Filter
        </div>
        <input id="genreId" type="hidden" value="@Url.ActionContext.RouteData.Values["id"]"/>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div align="center">Genres:</div>
                        <select class="selectpicker col-xs-12" data-live-search="true" ng-model="genreId">
                            <option value="">All</option>
                            @foreach (var genre in GenreService.ToList())
                            {
                                <option value="@genre.Id">@genre.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div align="center">Release:</div>
                        <select class="selectpicker col-xs-12" ng-model="release">
                            <option value="">All</option>
                            @for (var i = 0; i < 7; i++)
                            {
                                <option value="@(DateTime.Now.Year - i)">@(DateTime.Now.Year - i)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                        <div align="center">Status:</div>
                        <select class="selectpicker col-xs-12" ng-model="status">
                            <option value="">All</option>
                            <option value="1">Completed</option>
                            <option value="0">Ongoing</option>
                        </select>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="form-group">
                        <div align="center">Sort by:</div>
                        <select class="selectpicker col-xs-12" ng-model="propertyName">
                            <option value="name">A-Z</option>
                            <option value="-name">Z-A</option>
                            <option value="-views">Views</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info" id="panel-movie-list">
        <div class="panel-heading">
            Result
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-3" dir-paginate="movie in movies | orderBy:propertyName:reverse | filter:{status:status, release:release, genreMovies: {genreId:genreId} } | itemsPerPage:8">
                    <a href="@Url.Action("Details")/{{ movie.id }}">
                        <div class="movie-content" title="{{ movie.status | status }}">
                            <span class="movie-name">{{ movie.name }}</span>
                            <span class="movie-release">{{ movie.release | date:"MM/yyyy" }}</span>
                            <span class="movie-viewed">{{ movie.views }} views</span>
                            <img src="{{ movie.image }}" class="movie-img img-rounded img-responsive" alt="{{ movie.name }}">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-footer" align="center">
            <dir-pagination-controls max-size="5"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>
    </div>


</div>

@section scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angularUtils-pagination/dirPagination.js"></script>
    <script src="~/js/movie-controller.js"></script>
}