@model Movie
@inject IEpisodeRepository EpisodeRepository

@{
    ViewData[Constant.Title] = Model.Name + " - Watch";
    dynamic advertisement = ViewData["Advertisement"];
}

@section slide {
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="player-area">
                <div class="col-xs-12" id="ads-area">
                    <div class="row">
                        <a href="#" id="ads-url">
                            <video class="col-xs-12" autoplay=""></video>
                        </a>
                        <div id="ads-skip" class="col-xs-12">
                            <div class="col-xs-offset-10 col-xs-2">
                                <div class="text-center" style="background: gray; font-size: 20px; padding: 5px">
                                    <a href="#" style="color: white">
                                        Skip Ad in 10
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="panel panel-info" id="panel-movie-detail">
    <div class="panel-heading">
        Episode list
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @foreach (var item in EpisodeRepository.OrderByName(Model.Episodes))
                {
                    <button class="btn btn-primary btn-episode" data-url="@item.Url" style="margin-bottom: 10px">@(item.Name.Length == 1 ? "0" : "")@item.Name</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            var ads = $("#ads-area");
            @if (advertisement != null)
            {
                <text>
                    var adsLink = ads.find("a");
                    adsLink.attr("href", "@advertisement.Url");
                    adsLink.attr("title", "@advertisement.Title");
                    adsLink.attr("target", "_blank");
                    ads.find("video").attr("src", "@advertisement.Source");
                </text>
            }

            var counter = 10;
            var adsSkipLink = $("#ads-skip").find("a");
            var interval = setInterval(function() {
                    counter--;
                    adsSkipLink.html("Skip Ad in " + counter);
                    if (counter === 0) {
                        adsSkipLink.html("Skip Ad >>");
                        adsSkipLink.click(function(e) {
                            e.preventDefault();
                            skipAds();
                        });
                        clearInterval(interval);
                    }
                },
                1000);

            ads.find("video").on("ended",
                function() {
                    skipAds();
                });

            function skipAds() {
                ads.remove();
                $("#player-area")
                    .append('<iframe id="movie-player" class="col-xs-12" src="" allowfullscreen></iframe>');
                $('.btn-episode:first').trigger('click');
            }

            $('.btn-episode').on('click',
                function() {
                    $('#movie-player').attr("src", $(this).data("url"));
                    $('.btn-episode').removeClass("active");
                    $(this).addClass("active");
                });
        });
    </script>
}