@model Movie
@inject IBannerAdsRepository BannerAdsRepository
@inject IEpisodeRepository EpisodeRepository

@{
    ViewData[Constant.Title] = Model.Name + " - Watch";
    dynamic advertisement = ViewData["Advertisement"];
}

@section Slide {
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-xs-12">
                <div id="player" class="embed-responsive embed-responsive-16by9">
                    <!-- ads-area -->
                    <div id="ads-area">
                        <a href="#">
                            <video class="embed-responsive-item" autoplay=""></video>
                        </a>
                        <div id="ads-skip" class="col-xs-12">
                            <div class="pull-right">
                                <div class="text-center" style="font-size: 20px">
                                    <label class="label label-default">
                                        <a href="#" style="color: white">
                                            Skip Ad in 10
                                        </a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.ads-area -->
                </div>
            </div>
        </div>
    </div>
}

@section TopAds {
    <vc:banner model="@BannerAdsRepository.GetActiveBanners("Top", LocationType.Child)"></vc:banner>
}

@section RightAds {
    <vc:banner model="@BannerAdsRepository.GetActiveBanners("Right", LocationType.Child)"></vc:banner>
}

@section BottomAds {
    <vc:banner model="@BannerAdsRepository.GetActiveBanners("Bottom", LocationType.Child)"></vc:banner>
}

<div class="panel panel-info" id="panel-movie-detail">
    <div class="panel-heading">
        Episode list
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                @foreach (var item in EpisodeRepository.OrderByName(Model.Episodes))
                {
                    <button class="btn btn-primary btn-episode" data-src="@item.Source" style="margin-bottom: 10px">@(item.Name.Length == 1 ? "0" : "")@item.Name</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            var ads = $("#ads-area");
            
            @if (advertisement != null)
            {
                <text>
                    var adsLink = ads.find("a");
                    var adsVideo = ads.find("video");
                    adsLink.attr("href", "@advertisement.Url");
                    adsLink.attr("title", "@advertisement.Title");
                    adsLink.attr("target", "_blank");
                    adsVideo.attr("src", "@advertisement.Source");

                    adsVideo.on("ended",
                        function() {
                            skipAds();
                        });

                    var counter = 10;
                    var adsSkipLink = $("#ads-skip").find("a");
                    var interval = setInterval(function() {
                            counter--;
                            adsSkipLink.html("Skip Ad in " + counter);
                            if (counter === 0) {
                                adsSkipLink.html("Skip Ad >>");
                                adsSkipLink.click(function(e) {
                                    e.preventDefault();
                                    skipAds();
                                });
                                clearInterval(interval);
                            }
                        },
                        1000);
                </text>
            }
            else
            {
                <text>skipAds();</text>
            }
           
            function skipAds() {
                ads.remove();
                $("#player")
                    .append('<iframe id="movie" class="embed-responsive-item" src="" allowfullscreen></iframe>');
                $('.btn-episode:first').trigger('click');
            }

            $('.btn-episode').on('click',
                function() {
                    $('#movie').attr("src", $(this).data("src"));
                    $('.btn-episode').removeClass("active");
                    $(this).addClass("active");
                });
        });
    </script>
}