@using Microsoft.Extensions.Options
@inject IBannerAdsRepository BannerAdsRepository
@inject IOptionsSnapshot<Authentication> Authentication

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData[Constant.Title] - AnimeCore</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/assets/css/styles.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/assets/client/css/site.css" rel="stylesheet" asp-append-version="true"/>

</head>
<body>

<!-- navbar -->
@await Html.PartialAsync("_NavbarPartial")
<!-- /navbar -->
<!-- top-ads -->
<div class="container form-group" id="top-ads" style="max-height: 150px">
    @RenderSection("TopAds", false)
</div>
<!-- /.top-ads -->
<!-- slide -->
<div class="container form-group">
    @RenderSection("Slide", false)
</div>
<!-- /.slide -->
<!-- body-content -->
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                @RenderBody()
            </div>
            <div class="col-sm-3">
                <!-- right-ads -->
                <div id="right-ads">
                    @RenderSection("RightAds", false)
                </div>
                <!-- /.right-ads -->
            </div>
        </div>
    </div>
</div>
<!-- /.body-content -->
<!-- bottom-ads -->
<div class="container" id="bottom-ads" style="max-height: 150px">
    @RenderSection("BottomAds", false)
</div>
<!-- /.bottom-ads -->

<footer></footer>

<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
<script src="~/assets/js/facebook-sdk.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
<script src="~/assets/client/js/site.js" asp-append-version="true"></script>
<script src="~/assets/js/script.js" asp-append-version="true"></script>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: "@Authentication.Value.Facebook.AppId",
            xfbml: true,
            version: "v2.8",
            status: true
        });
        FB.AppEvents.logPageView();
    };
</script>

@RenderSection("Scripts", false)

@RenderSection("Balloon", false)

</body>
</html>