@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.Extensions.Options
@inject IOptions<Authentication> Authentication
@inject JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData[Constant.Title] - AnimeCore</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet"/>
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet"/>
        <link href="~/assets/css/styles.css" rel="stylesheet"/>
        <link href="~/assets/client/css/site.css"rel="stylesheet"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link href="~/assets/client/css/site.min.css" rel="stylesheet" asp-append-version="true"/>
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: "@Authentication.Value.Facebook.AppId",
            xfbml: true,
            version: "v2.8",
            status: true
        });
        FB.AppEvents.logPageView();
    };
</script>

<!-- navbar -->
@await Html.PartialAsync("_NavbarPartial")
<!-- /navbar -->

<!-- top-ads -->
@await Html.PartialAsync("Advertisement/_TopAdsPartial")
@RenderSection("TopAds", false)
<!-- /.top-ads -->

<!-- slide -->
@RenderSection("Slide", false)
<!-- /.slide -->

<!-- body-content -->
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                @RenderBody()
            </div>
            <div class="col-sm-3">
                <!-- right-ads -->
                @await Html.PartialAsync("Advertisement/_RightAdsPartial")
                @RenderSection("RightAds", false)
                <!-- /.right-ads -->
            </div>
        </div>
    </div>
</div>
<!-- /.body-content -->

<!-- bottom-ads -->
@await Html.PartialAsync("Advertisement/_BottomAdsPartial")
@RenderSection("BottomAds", false)
<!-- /.bottom-ads -->

<footer></footer>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/assets/js/facebook-sdk.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/assets/client/js/site.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/assets/client/js/site.min.js" asp-append-version="true"></script>
</environment>
@RenderSection("Scripts", false)

</body>
</html>