@model BannerAds

@if (Model != null)
{
    <style>
        .fa-close:hover { color: black }
    </style>

    <div id="right-balloon-ads" style="bottom: 0; max-height: 300px; max-width: 250px; position: fixed; right: 0;">
        <a class="pull-left" id="right-balloon-ads-close" style="margin-top: -2px; position: absolute;">
            <label class="label label-info" style="cursor: pointer">
                <i class="fa fa-close"></i>
            </label>
        </a>
        <div id="@Model.Id">
            <div title="@Model.Title">
                <a href="@Model.Url" target="_blank">
                    <img src="@Model.Source" alt="@Model.Name" class="img-responsive center-block" style="height: @Model.Height; width: @Model.Width"/>
                </a>
            </div>
        </div>
    </div>

    <script>
        $("#right-balloon-ads-close").click(function() {
            $("#right-balloon-ads").fadeOut(1000,
                function() {
                    $(this).remove();
                });
        })
    </script>
}