@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<AppSettings> AppSettings
@inject IMovieRepository MovieRepository

<div id="slide">
    <div id="carousel-movie" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @foreach (var item in MovieRepository.FindSlide(AppSettings.Value.Slide.Split(',')))
            {
                <div class="item" style="max-height: 500px; min-height: 300px;">
                    <a asp-area="" asp-action="Details" asp-controller="Movie" asp-route-id="@item.Id">
                        <img src="@item.Slide" alt="@item.Name" class="img-responsive center-block" asp-append-version="true" style="width: 100%">
                        <div class="carousel-caption" style="margin-bottom: -40px">
                            <div>
                                <h3>@item.Name</h3>
                            </div>
                            <div class="description">
                                <p>@item.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
            <a class="left carousel-control" href="#carousel-movie" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-movie" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>