@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.Extensions.Options
@inject IOptions<Authentication> Authentication
@inject JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData[Constant.Title] - AnimeCore</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet"/>
        <link href="~/assets/css/styles.css" rel="stylesheet"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

    @RenderSection("scripts", false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

<!-- navbar -->
@Html.Partial("_NavbarPartial")
<!-- /.navbar -->
<!-- body-content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            @Html.Partial("_SidebarPartial")
        </div>
        <div class="col-sm-10 col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
<!-- /.body-content -->

</body>
</html>