@using Microsoft.Extensions.Options
@inject IOptions<Authentication> Authentication

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData[Constant.Title] - AnimeCore</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/lib/bootstrap-toggle/css/bootstrap-toggle.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/assets/css/styles.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/assets/admin/css/site.css" rel="stylesheet" asp-append-version="true"/>

</head>
<body>
<!-- navbar -->
@Html.Partial("_NavbarPartial")
<!-- /.navbar -->
<!-- body-content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            @Html.Partial("_SidebarPartial")
        </div>
        <div class="col-sm-10 col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
<!-- /.body-content -->

<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/lib/moment/min/moment.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
<script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true"></script>
<script src="~/lib/datatables/media/js/dataTables.bootstrap.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
<script src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/fileinput.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.js" asp-append-version="true"></script>
<script src="~/assets/admin/js/site.js" asp-append-version="true"></script>
<script src="~/assets/js/script.js" asp-append-version="true"></script>

@RenderSection("Scripts", false)
</body>
</html>